body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}

img{
    width: 100px;
    height: 100px;
}

.header-container{
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 8px 200px 50px 200px;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.links{
    display: flex;
    gap: 24px;
}

.links, .subtext{
    color: #e5e7eb;
    font-size: 18px;
}

.left, .right{
    display: flex;
    flex-direction: column;
}

.right{
    width: 500px;
    align-items: end;
}

.main-hero{
    display: flex;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding-top: 100px;
}

.hero-text{
    max-width: 400px;
    padding-bottom: 16px;
}

.sign-up{
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background: #3882f6;
    border: 1px solid #3882f6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: fit-content;
}

.img-container{
    padding-top: 100px;
}

.info-header{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 32px;
    text-align: center;
}

.info{
    max-width: 200px;
    text-align: center;
}

.img-header{
    width: 650px;
    height: 250px;
    display: flex;
}

.info-squares{
    display: flex;
    gap: 52px;
    justify-content: center;
}

.info-container{
    padding: 8px 300px 50px 300px;
}

.quote-container{
    background: #E4E7EB;
    padding: 50px 400px 50px 400px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: end;
}

.text{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.qFrom{
    font-weight: bold;
    font-size: 18px;
    color: #1F2937;
}